Events at the same time are not all displayed at import.

Only one of two or more events with the same time slot will ever get imported in Google Calendar or Apple iCal.
I believe this happens because of a conflict between badly generated UIDs.
UID are generated here : https://github.com/cdamman/UCL2ICS/blob/master/php/ade.php

```
if(isset($_POST['email']) && $_POST['email'] != "null") {
    $buf_ics .= "UID:".date('Ymd\THi').$stamp_id.'Z-'.$date.'T'.$heuress[0].$heuress[1].$stamp_id.'Z-'.$_POST['email'].'@'.$_SERVER['SERVER_NAME']."\n";
} else {
    $buf_ics .= "UID:".date('Ymd\THi').$stamp_id.'Z-'.$date.'T'.$heuress[0].$heuress[1].$stamp_id.'Z-'.$stamp6.'@'.$_SERVER['SERVER_NAME']."\n";
}
```

They end up being per time slot and non unique, which does not comply with [RFC 5545 §3.8.4.7](http://icalendar.org/iCalendar-RFC-5545/3-8-4-7-unique-identifier.html).

Example of conflict between two exported events :

```
BEGIN:VEVENT
DESCRIPTION:LECGE1212-1-FM
UID:20160908T105935Z-20160920T140035Z-896721@ucl2icsphp.appspot.com
DTSTAMP:20160908T105935Z
DTSTART;TZID="Bruxelles, Copenhague, Madrid, Paris":20160920T140000
DTEND;TZID="Bruxelles, Copenhague, Madrid, Paris":20160920T160000
LOCATION:SCES 10 
SUMMARY:Macroéconomie
END:VEVENT
BEGIN:VEVENT
DESCRIPTION:LINGI1101-1
UID:20160908T105935Z-20160920T140035Z-896721@ucl2icsphp.appspot.com
DTSTAMP:20160908T105935Z
DTSTART;TZID="Bruxelles, Copenhague, Madrid, Paris":20160920T140000
DTEND;TZID="Bruxelles, Copenhague, Madrid, Paris":20160920T160000
LOCATION:BARB 91 
SUMMARY:Logique et structure discrètes (CM)
END:VEVENT  
```


This should be fixed now. Thanks for your comment